{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe{% endblock %}

{% block content %}
<h1>Modifier mon mot de passe</h1>
<hr>
{% if notification %}
<div class="alert alert-danger">{{notification}}</div>
{% endif %}
{{form(form)}}
{% endblock %}