{% extends 'base.html.twig' %}

{% block title %}Reinitialisation du mot de passe{% endblock %}

{% block content %}
<div class="small-block">
{% for item in app.flashes('notice') %}
    <div class="alert alert-info">{{item}}</div>
{% endfor %}
<h2>Reinitialiser mon mot de passe</h2>
{{form(form)}}
</div>
{% endblock %}