{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block content %}
    <h2>Commande</h2>
    <p>Choississez vos préférences avant de passer votre commande sur la boutique</p>
    <div class="row">
        <div class="col-md-6">
            <b>Choisir l'adresse de livraison</b><br>
            <b>Choisir la livraison</b>
        </div>
        <div class="col-md-6">
            <b>Récapitulatif</b><br>
            <b>Payer</b>
        </div>
    </div>
{% endblock %}
